.abot-bg-grad {
    background: linear-gradient(
      to top right,
      #010610,
      #010610,
      #010610,
      #010610,
      #132444,
      #010610
    );
    border: 2px solid #132444;
    border-radius: 10px;
  }
  .about-img {
    transition: 1s ease-in-out;
    clip-path: polygon(40px 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);
    border-top: 2px solid #05b9f5;
    border-right: 2px solid #05b9f5;
    padding: 8px;
    position: relative; /* Add position relative to the parent container */
  }
  
  .about-img > img {
    box-shadow: 0px 0px 10px #05b9f5;
    transition: transform 0.50s ease-in-out; /* Add transition to the transform property */
  }
  
  .about-img > img:hover {
    transform: scale(1.1); /* Scale the image on hover */
  }
  
  

  /* modal butto */

  .about-btn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    /* background: rgb(2,29,78); */
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: black;
    font-weight: 600;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .about-btn:active {
    scale: 0.92;
  }
  
  .about-btn:hover {
    transition: 0.6s;
    background: rgb(2,29,78);
    background: linear-gradient(270deg,rgba(31, 215, 232, 0.873) 0%, rgba(2, 29, 78, 0.681) 95%);
    color: rgb(232, 232, 240);
  }

  

  /* aducation text card */
  .education-card{
    width: 100%;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .education-card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 8px;
  }
  

  
  .circle {
    width: 100px;
    height: 100px;
    background: repeating-linear-gradient(48deg, #092425 0%, rgb(0, 242, 255) 100%);
    border-radius: 35% 30% 75% 30% / 49% 30% 70% 51%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  /* .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  } */
  
  .circle:nth-child(2) {
    /* bottom: -25px;
    right: -25px; */
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-30px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(30px);
    }
  }
  
   
   
   
  
  