.about-img-card {
    width: 100%;
    height: calc(100vh - 75px);
    border-radius: 4px;
    background: transparent;
    display: flex;
    gap: 5px;
  }
  
  .about-img-card div {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    /* background: #212121; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark-overlay {
    transition: opacity 0.3s ease;
  }
  
  .group:hover .dark-overlay {
    opacity: 0;
  }
  
  