@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Caveat:wght@400;500;600;700&family=Ephesis&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Nunito', sans-serif;

}
.cursive-font{
    font-family: 'Caveat', cursive;
}
.italic-font{
    font-family: 'Beau Rivage', cursive;
}

.text-color-change {
    background: linear-gradient(90deg, #ff0000,  #ff00f3, #0033ff, #ff00c3, red);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}